In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Merging two cleanded files to analyze

In [2]:
df1 = pd.read_csv("Cleaned_us_confirmed_cases.csv")
df2 = pd.read_csv("Cleaned_us_deaths.csv")

merged_us = pd.merge(df1, df2, on='Province_State', how='inner')

merged_us.head(10)

     Province_State  Total_Confirmed_Cases  Total_Deaths
0           Alabama              872756073      13398261
1            Alaska              153011898        751555
2    American Samoa                2608837         10804
3           Arizona             1330372436      20789702
4          Arkansas              549955573       7721989
5        California             6166190335      65490302
6          Colorado              922394521       8942186
7       Connecticut              507631287       8911110
8          Delaware              171886464       2089142
9  Diamond Princess                  53306             0

In [3]:
# Calculating recovered cases, 

merged_us['Recovered_Cases'] = merged_us['Total_Confirmed_Cases'] - merged_us['Total_Deaths']


merged_us.head(10)

     Province_State  Total_Confirmed_Cases  Total_Deaths  Recovered_Cases
0           Alabama              872756073      13398261        859357812
1            Alaska              153011898        751555        152260343
2    American Samoa                2608837         10804          2598033
3           Arizona             1330372436      20789702       1309582734
4          Arkansas              549955573       7721989        542233584
5        California             6166190335      65490302       6100700033
6          Colorado              922394521       8942186        913452335
7       Connecticut              507631287       8911110        498720177
8          Delaware              171886464       2089142        169797322
9  Diamond Princess                  53306             0            53306

In [4]:
#Calculating recovered case and deaths percentage

merged_us['Recovered_Percentage'] = (merged_us['Recovered_Cases'] / merged_us['Total_Confirmed_Cases']) *100

merged_us['Death_Percentage'] = (merged_us['Total_Deaths']/ merged_us['Total_Confirmed_Cases']) * 100

merged_us.head(10)

,Province_State,Total_Confirmed_Cases,Total_Deaths,Recovered_Cases,Recovered_Percentage,Death_Percentage
0,Alabama,872756073,13398261,859357812,98.464833,1.535167
1,Alaska,153011898,751555,152260343,99.508826,0.491174
2,American Samoa,2608837,10804,2598033,99.585869,0.414131
3,Arizona,1330372436,20789702,1309582734,98.437302,1.562698
4,Arkansas,549955573,7721989,542233584,98.595889,1.404111
5,California,6166190335,65490302,6100700033,98.937913,1.062087
6,Colorado,922394521,8942186,913452335,99.030546,0.969454
7,Connecticut,507631287,8911110,498720177,98.244570,1.755430
8,Delaware,171886464,2089142,169797322,98.784580,1.215420
9,Diamond Princess,53306,0,53306,100.000000,0.000000

In [5]:
# Top 10 Province with most number of covid cases

top_province = merged_us.sort_values('Total_Confirmed_Cases', ascending=False).head(10)


top_province.shape

(10, 6)

In [6]:
# Export data for visualization

top_province.to_csv("Visualization_Ready.csv", index=False)